<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
        <div class="rounded-t mb-auto px-5 py-5 text-center">
          <div class=" justify-items-center">
            <img src="assets/images/logo.png" alt="LOGO" class="mx-auto w-32 mb-5" />
          </div>
          <div class="text-center mb-10">
            <h1 class="text-blueGray-500 text-2xl font-medium mb-5"> INICIE SESION CON  </h1>
          </div>
          <div class="btn-wrapper text-center">
            <button
              class="bg-white active:bg-blue-300 text-blueGray-700 font-normal px-20 py-8 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-semibold text-xl ease-linear transition-all duration-250 "
              type="button"
              (click)="login()"
            >
              <img src="assets/images/google.svg" alt="..." class="w-18 mr-5"  />
              Google
            </button>
          </div>
          <hr class="mt-6 border-b-1 border-blueGray-300" />
        </div>
      </div>
    </div>
  </div>
</div>
