<div class="section bg-gray-100 py-8 relative z-10">
  <div class="container mx-auto">
    <div class="card bg-white shadow-md">
      <div class="card-body">
        <h5 class="card-title text-center text-lg font-semibold">
          CALIFICACIONES
        </h5>
        <p class="text-sm text-gray-600 text-center">
          LISTA DE CALIFICACIONES A COLABORADORES
        </p>
        <button class="bg-green-600 hover:bg-green-500 text-white py-2 px-4 rounded flex items-center space-x-2"
          (click)="descargarExcel()">
          <span class="text-base">Descargar Excel</span>
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4" />
          </svg>
        </button>

        <div class="overflow-x-auto py-4">
          <table class="table w-full">
            <thead class="bg-sky-500">
              <tr>
                <th class="px-4 py-2">Fecha</th>
                <th class="px-4 py-2">Colaborador</th>
                <th class="px-4 py-2">Calificación</th>
                <th class="px-4 py-2">Cliente</th>
                <th class="px-4 py-2">Observación</th>
                <th class="px-4 py-2">Acepta Políticas</th>
                <th class="px-4 py-2"></th>
              </tr>
            </thead>
            <tbody>
              @for (calificacion of calificaciones; track calificacion.id) {
              <tr class="bg-base-200 bg-cyan-200">
                <td class="px-4 py-2 nowrap">{{ calificacion.fecha }}</td>
                <td class="px-4 py-2 nowrap">{{ calificacion.empleado }}</td>
                <td class="px-4 py-2 nowrap">{{ calificacion.calificacionEnum }}</td>
                <td class="px-4 py-2 nowrap">{{ calificacion.cliente }}</td>
                <td class="px-4 py-2 nowrap">{{ calificacion.observacion }}</td>
                <td class="px-4 py-2 nowrap">{{ calificacion.aceptaPoliticas }}</td>
                <td class="px-4 py-2"></td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        
    </div>
  </div>
</div>